
* {
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: 'Gloria Hallelujah', cursive;
/*    background: url("../images/family__21___background_by_dark_triquatra.jpg") center center no-repeat ;*/
    background: url("http://orig05.deviantart.net/ab78/f/2010/226/b/8/family__21___background_by_dark_triquatra.jpg") center no-repeat ;
    background-size: cover;            
}
button {
    display: inline;
    padding: 10px 40px;
    margin: 0 40px;
}

.container {
    height: 100%;
    color: white;
    position: relative;
    top: 80px;
    text-align: center;
    margin: 80px;
}
span {
    font-size: 80px;
/*            width: 200px;*/
    margin: 80px;
}
a {
    text-decoration: none;
    color:white;
}
